name: Dev & Deploy
on:
  push:
    branches: [development]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy Ecommerce app
        uses: appleboy/ssh-action@master
        with:
          username: ${{secrets.SSH_USERNAME}} # User of the server you want to ssh into
          host: ${{secrets.SSH_HOST}} # IP address of the server you wish to ssh into
          password: ${{secrets.SSH_PASSWORD}} # Password of the user of the server you want to ssh into

          script: |
            cd ecomosb-dev.osapp.net

            git pull

            composer install

            php artisan migrate
            php artisan optimize:clear
